<div class="jumbotron">
    <div class="col-md-7">
        <h1>Yanesh Tyagi</h1>
    </div>
    <div class="col-md-5">
        <p class="lead" style="padding-left:10px;">Delivery Manager by Profession,<br />Programmer and Architect by Passion,<br />Traveler and Nature Lover by Hobby</p>
        <p class="pull-right"><a href="~/info" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>
    &nbsp;
</div>
<p>
    Hi, I am Yanesh Tyagi. Professionally, I am Delivery Manager in a software product development company.
    However, that's just my day job. I am passionate about programming and architecture.
    I have spent a great part of my life architecting software and programming on various platform; Microsoft being my favourite.
    I began programming decades ago when my hairs were black. Recently I found a new love in my life.
    Oh no! don't get me wrong. It's just JavaScript.
</p>
<p>
    While I am not programming or hanging out with my team, you may find me close to nature either in jungles or on mountains, or on the beach or in open sea.
    I love Mother nature and beging close to her gives me a sense of pleasure. Whenever I get a chance, I run away from the day to day stuff and find shelter in the nature.
    I write about programming, management and travel.
</p>
<div class="row">
    <div class="col-md-4">
        <h2>Blog</h2>
        <p>I write about programming, management, nature and beauty. Often I mix all of these together to get a new prospective of things. To make sense of this world, you need to be living in an open wall castle.</p>
        <p><a class="btn btn-default" href="~/wordpress">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Projects</h2>
        <p>Obviously, can't talk about work projects here. However, community projects, gihub and open source stuff is great to talk about.</p>
        <p><a class="btn btn-default" href="~/projects">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Everything Else</h2>
        <p>Life is much more than blog and projects. There is twitter, facebook, g+, instagram, pinterest and what not. Looks like life is an open source project. You may clone or fork whatever you want but commits are priviledged to specific people only. Feel free to have a look into my life.</p>
        <p><a class="btn btn-default" href="~/everythingelse">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Spirituality</h2>
        <p>What? Spirituality! Yes. Yes, there is something called spirituality. No, it's not religion. It's zen. It's cosmic. It's me. It's you. It's we.</p>
        <p><a class="btn btn-default" href="~/spirituality">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Books</h2>
        <p>Not written by me. But read and loved by me. Unless you are a fireman, books are your (read mine) best friend. They are there when you feel low, they are there when you are excited. They are even there when you are not you.</p>
        <p><a class="btn btn-default" href="~/books">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Videos</h2>
        <p>Or the new kind of books. Books that has moving pictures and that speak. Moguls calls them videos or you tube. I call them live books.</p>
        <p><a class="btn btn-default" href="~/videos">Learn more &raquo;</a></p>
    </div>
</div>
