@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Projects</h2>
<p>Let me be very clear. I cannot talk about the work related projects on my personal website. This is not just professional. Here I'll talk about my own open source projects. I'll also talk about the projects that I liked.</p>
<p>&nbsp;</p>


<div class="col-md-4">

    <h3>KeepFocused</h3>
    <hr />
    <img src="http://download-codeplex.sec.s-msft.com/Download?ProjectName=keepfocused&DownloadId=99590&Build=20928" class="pull-left">
    <p class="text-justify">Keep Focused is an enhanced tool for Pomodoro Technique of Time Management. It has features like session management which keep track of what you are doing in each of the 25 minute session. At the end of the day view your session data file and review the tasks you worked on.</p>
    <p class="pull-right"><a herf="http://keepfocused.codeplex.com">KeepFocused Project website</a></p>
</div>

<div class="col-md-4">
    <h3>xComp</h3>
    <hr />
    <p class="text-justify">xComp is an attemp to develop a professional grade tool to compare two excel sheets. The project is aimed to provide compare and merge features for two excel sheets. Although there are many paid tools available for such functionality, open source community was in need of a good tool. The tool has feature similar text file compare tools.</p>
    <p class="pull-right"><a herf="http://xComp.codeplex.com">xComp Project website</a></p>
</div>

<div class="col-md-4">
    <h3>dnvc</h3>
    <hr />
    <img class="pull-left" src="https://code.google.com/p/dnvc/logo?cct=1267542692">
    <p class="text-justify">dnvc or .Net Version Checker is a very simple portable application that provides details of .Net Frameworks installed on a machine. The application runs on any  windows machine that has any version of .Net framework installed. You can doenload the application exe (a tiny exe) from the project website.</p>
    <p class="pull-right"><a herf="http://keepfocused.codeplex.com">dnvc Project website</a></p>
</div>
<p>&nbsp;</p><p>&nbsp;</p>
<div class="col-md-12">
    <h3>tranjs</h3>
    <hr />
    <p class="text-justify">tranjs, as the name suggest, is a javascript library. The purpose of the library is to provide a framework for multi-lingual websites. The library is intended to make it easier for a UI developer to integrate translation feature into their application. Currently it supports custom translation tables. A translation table is a JSON file that provides key-value pair for the translation. This file can be obtained from a URL or a web service.</p>
    <p>The project is currently under development.</p>
    <p class="pull-right"><a herf="https://github.com/yaneshtyagi/tranjs">transjs Project website</a></p>
</div>

