@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Child Layout content -->
<div>
    <nav class="col-md-3 pull-right">
        <h3>Spirituality Portal</h3>
        <ul>
            <li><a href="~/spirituality/spirituality">Home</a></li>
            <li><a href="SwamiGovindanandTirth">My Guruji</a></li>
            <li><a href="~/spirituality/linage">Linage of Tirth Order</a></li>
        </ul>
        <h4>The Science of Shaktipat</h4>
        <ul>
            <li><a href="~/spirituality/Books/WhatIsShaktipat">What is Shaktipat</a></li>
            <li><a href="~/spirituality/BooksOnShaktipat">Books On Shaktipat</a></li>
        </ul>
        <h4>Ashrams</h4>
        <ul>
            <li><a href="~/spirituality/Ashrams/YogShriPeethAshram">Yog Shri Peeth Ashram</a></li>
            <li><a href="~/spirituality/Ashrams/NarayanKutiAshram">Narayan Kuti Ashram</a></li>
            <li><a href="~/spirituality/Ashrams/OtherAshrams">Other Ashrams</a></li>
        </ul>
        <h4>Tirth Linage</h4>
        <ul>
            <li><a href="~/spirituality/linage/SwamiParmanandTirth">Swami Parmanand Tirth</a></li>
            <li><a href="~/spirituality/linage/SwamiMukundTirth">Swami Mukund Tirth</a></li>
            <li><a href="~/spirituality/linage/SwamiGangadharTirth">Swami Gangadhar Tirth</a></li>
            <li><a href="~/spirituality/linage/SwamiNarayanTirth">Swami Narayan Tirth</a></li>
            <li><a href="~/spirituality/linage/ShriYoganandaMaharaj">Shri Yogananda Maharaj</a></li>
            <li><a href="~/spirituality/linage/SwamiVishnuTirth">Swami Vishnu Tirth</a></li>
            <li><a href="~/spirituality/linage/SwamiShivomTirth">Swami Shivom Tirth</a></li>
            <li><a href="~/spirituality/linage/SwamiGovindanandTirth">Swami Govindanand Tirth</a></li>
            <li><a href="~/spirituality/linage/SwamiMrityunjayTirth">Swami Mrityunjay Tirth</a></li>
        </ul>

    </nav>
    <div class="col-md-9">
        @RenderBody()
    </div>
</div>