@{
    ViewBag.Title = "Videos";
    Layout = "~/Areas/Videos/Views/Shared/_videoLayout.cshtml";
}

<h2>Videos</h2>

<div>
    <h4>Traditional Bamboo Raft of Kuruva Island in Kerela</h4>
    <iframe width="560" height="315" src="//www.youtube.com/embed/hjqPXdrrq0o?list=UUseXbfOwPSYNtO_fiXMtaQw" frameborder="0" allowfullscreen></iframe>
    <p class="pull-left">In the Kuruva Islands on the Westran Ghats, near Wayanad, at the border of Karnataka and kerala, people use rafts made up of bamboos for their daily use. </p>
</div>
<p>&nbsp;</p>
<div>
    <h4>Ujjain Trip</h4>
    <iframe width="560" height="315" src="//www.youtube.com/embed/50JovKsTLJ8?list=UUseXbfOwPSYNtO_fiXMtaQw" frameborder="0" allowfullscreen></iframe>
    <p>Ujjain, in the state of Madhya Pradesha in India, is an ancient city situated on the equator. The citi is called <i>Citi of Temples</i>. Every street of citi has one or other kind of temple. The main attraction of the city is <b>Mahakal Temple</b>, one of the twelve Jyotirlingas.</p>
</div>
<p>&nbsp;</p>
<div>
    <h4>Sandipani Ashram</h4>
    <iframe width="560" height="315" src="//www.youtube.com/embed/uNiWsRPA0Ls?list=UUseXbfOwPSYNtO_fiXMtaQw" frameborder="0" allowfullscreen></iframe>
    <p>Rishi Sandipani was the Guru of Lord Krishna. His ashram was situated at what is now known as Ujjain. I shooted this video years back when mobile phones with camera was a revolution.</p>
</div>
