
@{
    ViewBag.Title = "Yanesh Tyagi :: Spirituality";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Spirituality</h2>
<p>I am an spiritual person. And I believe that everyone on this planet is. Don't get me wrong... spirituality has nothing to do with religion or so called God. It's different. However, I am not discussing that here.</p>
<p>I am religious as well. Being born in a Hindu Brahmin family, I am strong believer of Hindu religion. But only in its pure essense. I believe in Karma Yoga as explained in Gita.</p>
<p>I am deciple of Great Swami Govindanad Tirth Ji Maharaj. He initiated me into the Shaktipat. I belong to Tirth Linage.</p>
<div class="col-md-4">
    <h3><a href="~/spirituality/SwamiGovindanandTirth/">My Guruji</a></h3>
    <center><img src="http://yaneshtyagi.com/SiteImages/Guruji.jpg" width="100%"></center>
    <p class="pull-right">My Guruji, Swami Govindanand Tirth Ji Maharaj is a great saint, yogi and teacher of Shaktipat Tradition.</p>
</div>

<div class="col-md-4">
    <h3><a href="~/Spirituality/Linage">Linage of Tirth Order</a></h3>
    <p>Tirth Order is an ancient order. The great great Guru (as known to current desciples) of Shaktipat tradition is Swami Parmanand Tirth Ji Maharaj. Click on the above link to know His linage of desciples.</p>
</div>

<div class="col-md-4">
    <h3><a href="~/spirituality/Ashrams/YogShriPeethAshram">Yog Shri Peeth Ashram</a></h3>
    <p>Established by Param Pujya Swami Vishnu Tirth Ji Maharaj, this is spiritual ashram situated at the bank of Holy River Ganges at the Holiest place of Rishikesh (Muni Ki Reti).</p>
</div>

<div class="col-md-4">
    <h3><a href="~/spirituality/linage/SwamiMrityunjayTirth">Swami Mrityunjay Tirth</a></h3>
    <p>आजकल आप ऋषिकेश में योग श्री पीठ आश्रम में परम पूज्य गुरुदेव स्वामी श्री गोविंदानंद तीर्थ जी महाराज के उत्तराधिकारी के रूप में निवास करते हैं.</p>
</div>

<div class="col-md-4">
    <h3><a href="~/spirituality/Ashrams/NarayanKutiAshram">Narayan Kuti Ashram</a></h3>
    <p>This is the another establishment of Swami Vishnu Tirth Ji Maharaj at Devas, Madhya Pradesh in India.</p>
</div>

<div class="col-md-4">
    <h3><a href="~/spirituality/Ashrams/OtherAshrams">Other Ashrams</a></h3>
    <p>There are nearly 100 ashrams of Tirth Order. The followers of Shaktipat Tradition is frequently visit these ashrams for their enlightenment.</p>
</div>

<div class="col-md-4">
    <h3><a href="~/spirituality/BooksOnShaktipat">Books on Shaktipat</a></h3>
    <p>Many books has been written on Shaktipat by Gurus of linage like Shri Yogananda Vigyani Ji, Swami Vishnu Tirth Ji, Swami Shri Shovim Ji and Swami Shri Govindanand Ji Maharaj.</p>
</div>

<div class="col-md-4">
    <h3><a href="~/spirituality/BooksOnShaktipat/WhatIsShaktipat">What is Shaktipat?</a></h3>
    <p>Shaktipat is a means of awakening the Shakti towards inner consciousness and to make it perform automatic movements (Kriyas). All types of Sadhna, Upasana and Yogic practices are assimilated in this path.</p>
</div>

