
@{
    ViewBag.Title = "SwamiParmanandTirth";
    Layout = "~/Areas/Spirituality/Views/Shared/_InnerLayout.cshtml";
}

<h2>Swami Shri Mukund Tirth Ji Maharaj </h2>

Swami Shri Mukund Tirth Ji Maharaj was the great desciple of Param Pujya Swami Shri Parmanand Tirth Ji Maharaj.

