
@{
    ViewBag.Title = "SwamiParmanandTirth";
    Layout = "~/Areas/Spirituality/Views/Shared/_InnerLayout.cshtml";
}

<h2>Swami Gangadhar Tirth</h2>

Swami Gangadhar Tirth was born in a Brahmin family by the end of the nineteenth century in the Mathura District of Uttar Pradesh. Little is known about his childhood and early life. He almost lived in seclusion. With him lived Karali his `Brahmachari’ disciple.

They lived in a hut in Jagnnathpuri near Chandan Talab by the end of the nineteenth century. Brahmachariji Karali brought `Bhiksha’ for both of them. Swami Gangadhar Tirth Maharaj spent most of the day and night in deep meditation – Sadhan. He was a great thinker and accomplished `Yogi’ of `Nitya Siddh’ order.

Swamiji lived away from hustle and bustle or normal life and did not do preaching to the crowds. Yet he had a great compassion for human beings and wanted to get them liberated from the world of suffering and agyan (ignorance). So to achieve the common man’s `Mukti’. He was in a search of a true disciple, who could and would do the work of reaching out.

Mr. Kalikishor Gangopadhyaya, a gifted youth, disenchanted with the world, and searching for a `Guru’ approached Swami Gangadhar Tirth Maharaj and prayed for `Anugraha’(initiation). The Guru met his `Shishya’ in Kalikishor, now known as Swami Narayan Tirth Dev Maharaj and gave him Shakitat Diksha.

A lucid and authentic account of Swami Gangadhar Tirthji and Kalikishor can be seen in the book –‘ Punrudaya’ – by Shivom Tirthji. 

