
@{
    ViewBag.Title = "SwamiParmanandTirth";
    Layout = "~/Areas/Spirituality/Views/Shared/_InnerLayout.cshtml";
}

<h2>Swami Shri Yogananda Vigyani Ji Maharaj </h2>

One of the best-known exponents of ‘Hathyoga’ and powerfull guru of Shaktipat parampara. His yogic prowesses were simply stupendous. He is the reciepient of Shaktipat diksha from Swami Narayan Teerth Ji Maharaj. His biographical details are very scanty as ‘ Yogiraj ‘ seldom talked about his personal life. He was born by the end of the 19th century on Vasant Panchami, the year is not known; in a village close to Veraval in Saurashtra – Gujarat. He left his house in 1909 and began a long quest for yoga and kundalini awakening. He stayed at many ashrams and learned yogic kriyas. He became an accomplished ‘Hath-yogi’ but could not get a real experience of ‘Kundalini’ awakening. By divine blessings he met Sawarni Baba Krishnanand Maharaj, a great Vaishnav Swami. He took compasion on Yogiraaaj Yoganand and promised to help in searching for real yogi. He accompanied Yogiraaj Yoganand to various ‘ gurus’ and finally in 1918 took him to his destined ‘guru’, Swami Narayan Teerth Dev in East Bengal. He was the lone shishya of ‘Swami Gangdhar Tirth Maharajshri’, he was richly rewarded by Swami Narayan Teerth devji and was fully satisfied. He was commanded by Swami Baba Krishnandji (his mentor) to write a simple and comprehensive book on ‘Kundalini’ Mahayog. Yogiraj obeyed his mentor and has written the most comprehensive, simple and lucid book on this subject, ‘ Mahayog Vigyan ‘ in Hindi. It is one of the standard references on this subject.

In 1934 when Swami Baba Krishnanandji was seriously ill, he advised Yogiraj not to take sanyas but to enter in to a married life. Swami Baba Krishnanand and Swami Narayan Tirth Dev passed away in quick succession and Yoganand felt very lonely and entered into married life and took the name Yoganand Vigyani. He built a new ashram for him called it “Vigyan Bhavan” at Hrishikesh. Now he reduced his diksha activities and devoted more time to yogic practices. He had many accomplished ‘shisyas’ who carried out his work, Swami Vishnu Tirthji Maharaj is the most famous of all.
Yogiraj Yoganandji was the practitioner of ‘Shaktipat’ system rather than a speaker in public.

