
@{
    ViewBag.Title = "SwamiParmanandTirth";
    Layout = "~/Areas/Spirituality/Views/Shared/_InnerLayout.cshtml";
}

<h2>Swami Shri Shivom Tirth Ji Maharaj </h2>
Swami Shivom Tirth was born in 1924 in the village of Gujrat in Punjabi. He studied an undergraduate degree in Lahore, after which he led a simple and highly ideal life, living out his deep love for spiritual life through the householder life.

After meeting his teacher Swami Vishnu Tirth Maharaj, and with the consent of his teacher and family, he left the worldly life, and became known as Brahmachari Shivom Prakash following his initiation in 1959. In 1963, he received initiation into the order of Shankaracharya from Shri Narayan Tirth Maharaj, and was given the name Swami Shivom Tirth.

Later Swami Vishnu Tirth Maharaj authorized Swami Shivom Tirth to succeed him and to pass on to others the system of Kundalini Shaktipat for the benefit of humanity. Since then, Swami Shivom Tirth Maharaj has taught in different countries, and because of the breadth and depth of his love, has among his students Hindus, Muslims, Sikhs, Christians, and Jews.

Of special note is the book A Guide to Shaktipat, in which Swami Shivom Tirth Maharaj explains in question and answer format the most commonly asked questions about the Shaktipat Tradition and Patanjali Yoga.

After the Ujjain Kumbha Mela of 1992, Swami Shivom Tirth retreated into complete seclusion, from where he guides solely through the transmission of shakti. He passed on teaching authority to several disciples, including Swami Govindanand Tirth Ji maharaj. Once in a year, Swami Shivom Tirth speaks to his deciples.

On 6th April, 2008 Swami Shivom Tirth merged into the Almighty. His devine body was brought to Yoga Shri Peeth Ashram, Rishikesh and then dissolved into the Holy River Ganges.



