
@{
    ViewBag.Title = "SwamiParmanandTirth";
    Layout = "~/Areas/Spirituality/Views/Shared/_InnerLayout.cshtml";
}

<h2>Swami Shri Vishnu Tirth Ji Maharaj </h2>

As a young man, Munilal was highly interested in spiritual matters which later became the focus of his adult life. During his early years of secular education, Munilal stayed with his uncle while obtaining an undergraduate degree. After graduation, he married and was employed as a teacher in Bilaspur, Chhattisgarh. While pursuing his teaching career, he simultaneously obtained a postgraduate degree and L.L.B. (Bachelor of Laws) from Aligarh Muslim University. After passing these examination he became a practicing lawyer in the Ghaziabad District of Meerut.Due to his spiritual inclinations, his job as legal practitioner did not suit him well. Munilal and his wife raised a son and daughter. After the marriage of both children and the death of his spouse, Munilal decided to renounce the world in search of enlightenment. This decision lead him to Rishikesh.

At the Swargashram in Rishikesh, Munilal met Shri Yoganandaji and received Shaktipat initiation from him. This was in the year 1933. Afterwards, he traveled to many religious places around Badrinath and Kedarnath. In 1939, Munilal expressed a desire for initiation into the tradition of Sannyas, and Yoganandaji directed him to Swami Shankar Purushottan Tirth Maharaj in Benaras. Swami Shankar Pururushottam Tirtha initiated Munilal into the tradition of Sannyas at the Mohan Ashram of Haridwar near the bank of the holy river Ganges. His name became Swami Vishnu Tirth Maharaj after this initiation.

As per the direction of Shri Yoganandaji, Swami Vishnu Tirth Maharaj proceeded toward Indore and finally settled in Dewas where he laid the foundation for the Narayan Kuti Sanyas Ashram.

Vishnu Tirth initiated many spiritual aspirants into the system of Shaktipat and wrote a number of books. His most memorable work in English is entitled, Devatma Shakti (Kundalini). This book is an indepth study of the Divine Power (Devatma Shakti) and the science of Shaktipat. This work is based on traditions recorded in ancient scriptures supplemented by direct experiences of divine revelation. This book is considered a classic in the field of Shaktipat and the awakening of internal consciousness.

Vishnu Tirth had a profound love for the Ganges River and he spent around two months a year in Yog Shri Peeth Ashram near the river in Rishikesh. His disciples, Swami Shivom Tirth maharaj and others soon carried out the construction of a center in Rishikesh in 1965 which came to be known as Yoga Shri Pith Ashram. Currently Swami Govindanand Tirth Maharaj is taking care of Yog Shri Peeth Ashram. Vishnu Tirth occupies a prominent place in the galaxy of Shaktipat Gurus. He was highly educated and had a sharp and brilliant mind. He left his mortal body in 1969 dissolving into the Absolute (also known as Mahasamadhi.


