
@{
    ViewBag.Title = "SwamiParmanandTirth";
    Layout = "~/Areas/Spirituality/Views/Shared/_InnerLayout.cshtml";
}

<h2>Swami Shri Narayan Tirth Ji Maharaj </h2>

He was the only desciple of Swami Shri Gangadhar Tirth Ji Maharaj. Born in a brahaman family at Kolkata, he was the greatest yogi of his time. Swami Narayan Tirth Ji Maharaj made the science of Shaktipat available to common man. He came to the earth to enlighten the comman man through the devine power of Shaktipaat.

His childhood name was Kalikishore Gangopadhyay. He met HH Swami Gangadhar Tirth Ji Maharaj and became his desciple. But Swamiji asked him to complete his responsibilities towards his family. After takinh shaktipat initiation, Kalikishore returned to his home and became a farmer. He worked in the agriculture fields for 20 years and then took sanyas.

He changed the way shaktipat tradition was. His efforts bring shaktipat from dark period to light period. Before him, the knowledge of shaktipat was kept secret. He made a few desciples. Shri Yougendra Vigyani Ji Maharaj was one of great desciples. Vigyaniji further spread the knowledge of Shaktipat to the common man.


