
@{
    ViewBag.Title = "SwamiParmanandTirth";
    Layout = "~/Areas/Spirituality/Views/Shared/_InnerLayout.cshtml";
}

<h2>Swami Shri Parmanand Tirth Ji Maharaj</h2>

Param Pujya Swami Parmanand Tirth Ji Maharaj is my great great Guru. He is living in this world since the 13th century. He is the main torch bearer of the Shaktipaat Vidhya. Swami Shivom Tirth Ji Maharaj, in his book 'Antim Rachna' gave some account of the meetings of Swami Vishnu Tirth Ji Maharaj with Him. The great saint and poet of Kashmir, Lul, was also his desciple.

