body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size:17px;
    line-height:1.6;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

footer{
    background-color:#eeeeee;
    left:0;
    right:0;
    width:100%;
    font-size:14px;
    line-height:2;
}

footer ul{
    text-decoration:none;
    list-style:none;
    list-style-type:none;
    margin:0;
    padding:0;
    
}

footer a{
    text-decoration:none;
    color:#808080;
}

footer h3{
    font-size:15px;
    font-weight:bold;
}

.text-justify{
    text-align:justify;
}

article footer{
    font-size:smaller;
    background-color:#ffffff;
    line-height:1;
}

article header{
    font-size:smaller;
}

article aside{
    font-size:smaller;
}

.side-box{
    margin:5px;
    padding:5px;
    border:solid 1px #808080;
    border-radius:5px;
    background-color:#eeeeee;
}