@{
    ViewBag.Title = "_BooksLayout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<nav class="col-xs-3 col-md-3 pull-right">
    <h3>Books</h3>
    <ul>
        <li><a href="~/Books">Home</a></li>
    </ul>
    <h4>Favourite</h4>
    <ul>
        <li><a href="~/Books/Favourite/CodeCompleted">Code Complete</a></li>
        <li><a href="~/Books/Favourite/TheMonkWhoSoldHisFerrari">The Monk Who Sold His Ferrari</a></li>
        <li><a href="~/Books/Favourite/GettingThingsDone">Getting Things Done</a></li>
        <li><a href="~/Books/Favourite/hbr10MustReadsTheEssentials">HBR'S 10 Must Reads: The Essentials </a></li>
    </ul>
    <h4>Recommended</h4>
    <ul>
        <li><a href="~/Books/recommend/Technical">Technical</a></li>
        <li><a href="~/Books/recommend/ScienceFiction">Sci-Fi</a></li>
        <li><a href="~/Books/recommend/ScienceFiction">20 must-read books for programmers</a></li>
    </ul>
    <h4>My Notes</h4>
    <ul>
        <li><a href="https://kindle.amazon.com/profile/Yanesh-Tyagi/4948936" target="_blank">Kindle Notes</a></li>
    </ul>
</nav>

<div class="col-md-9 col-xs-9">
    @RenderBody()
</div>

